venv
data/playlists_dataset
data/csv/*
data/tokenized_data/*
models/*
song2vec/song2vec/submodule/__pycache__
song2vec/song2vec/submodule/build
song2vec/song2vec/submodule/song2vec.cp310-win_amd64.pyd
song2vec/song2vec/submodule/python_algo_pre.py
song2vec/song2vec/submodule/song2vec.py
song2vec/song2vec/__pycache__
song2vec/song2vec/submodule
song2vec/song2vec/submodule/__init__.py
song2vec/song2vec/submodule/setup.py
song2vec/song2vec/submodule/song2vec.py
storage
song2vec/build
song2vec/song2vec.egg-info
notebooks/algo_testing
.glove-venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.env/

# Logs and debug output
*.log

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Cache directories
__pycache__/
*.pytest_cache/